[submodule ".registry"]
	path = .registry
	url = https://github.com/stitam/stitam.r-universe.dev
	branch = HEAD
[submodule "mulea"]
	path = mulea
	url = https://github.com/ELTEbioinformatics/mulea
[submodule "webseq"]
	path = webseq
	url = https://github.com/stitam/webseq
