[submodule ".registry"]
	path = .registry
	url = https://github.com/stitam/stitam.r-universe.dev
	branch = HEAD
[submodule "breakpoint"]
	path = breakpoint
	url = https://github.com/stitam/breakpoint
[submodule "tailor"]
	path = tailor
	url = https://github.com/sbthandras/tailor
[submodule "webseq"]
	path = webseq
	url = https://github.com/stitam/webseq
